.span12
  = render "sector"
  %hr{:style => "clear: both;"}
  = render "i3"
  %hr{:style => "clear: both;"}
  = render "milwaukee"
  %hr{:style => "clear: both;"}
  = render "ccckc"
  %hr{:style => "clear: both;"}
  = render "ps1"
  %hr{:style => "clear: both;"}
  = render "hackfactory"
  %hr{:style => "clear: both;"}
  = render "lonehacker"
  %hr{:style => "clear: both;"}
  = render "allhands"
  %hr{:style => "clear: both;"}
  = render "hackpgh"
  %hr{:style => "clear: both;"}
  = render "lvl1"
  %hr{:style => "clear: both;"}
  = render "omnicorp"
  %hr{:style => "clear: both;"}
  = render "weddingparty"
  %hr{:style => "clear: both;"}
