.container.team_page
  - if person_signed_in? && current_person.team == @team
    .row
      .col-xs-12
        %ul.nav.nav-pills
          %li
            = link_to "Add Car", new_car_url
          %li
            = link_to "Add Person", new_person_url
          %li
            = link_to "Edit Team", my_team_edit_url
          %li
            = link_to "Edit Your Profile", edit_person_url(current_person)
          %li
            = link_to "Manage People", people_url
          %li
            = link_to "Manage Cars", cars_url
          - unless @team.is_visible
            %li
              = link_to "Make Profile Visible", make_visible_url
  - if person_signed_in? && current_person.team == @team && request.fullpath == "/my_team"
    - if @team.image_url(:wide).nil?
      .alert.alert-warning.alert-dismissable
        %button.close{'type' => 'button', 'data-dismiss' => 'alert'}
          &times;
        %strong Hey, listen!
        You should add a team image to your Team Profile. You can do that #{link_to "here", my_team_edit_url}.
    - if @team.people.count < 3
      .alert.alert-warning.alert-dismissable
        %button.close{'type' => 'button', 'data-dismiss' => 'alert'}
          &times;
        %strong Dude! Bro! Bro! Dude!
        You need a minimum of THREE (3) people on your team. Add some mates over #{link_to "here", new_person_url}.
    - if @team.cars.count < 1
      .alert.alert-warning.alert-dismissable
        %button.close{'type' => 'button', 'data-dismiss' => 'alert'}
          &times;
        %strong SRSLY? C'mon guy or gal!
        You havn't even added a CAR yet? This is a "car" RACING SERIES. Add your ride #{link_to "here", new_car_url}.
  .row
    .col-md-12
      %h1= @team.name
  .row
    .col-md-6
      .thumbnail
        = image_tag (@team.image_url(:wide) || "default_person.png")
    .col-md-6
      .well
        %dl
          %dt Organization/Hackerspace
          %dl= @team.organization_name || "None"
          %dt Location
          %dl= @team.location || "???"
          %dt Website
          %dl= link_to @team.url, @team.team_url
          - if @team.cars.count > 0
            %dt Car Numbers:
            %dl
              - @team.cars.each do |c|
                %span.label.label-info ##{c.number}
  .row
    .col-md-12
      %h2 About #{@team.name}
      %p.lead= @team.bio

  .row
    .col-xs-12
      %h2 Team Members
      - @team.people.each do |p|
        .col-xs-12.col-sm-4.col-md-3.col-lg-3
          .thumbnail.team-member-thumbnail
            = image_tag (p.image_url(:thumb) || "default_person.png")
            %h4= p.full_name
            %dl.pull-right
              %dt
  .row        
    .col-xs-12
      %h2 Cars
      - @team.cars.each do |c|
        .col-xs-12.col-sm-4.col-md-3.col-lg-3
          .thumbnail.team-member-thumbnail
            = image_tag (c.image_url(:thumb) || "default_car.jpg")
            %h4 #{c.name} ##{c.number}
            %dl.pull-right
              %dt
