.container
  %h3 2013 Power Racing Series Registration
  %p
    Fill out all of the things here so we can get you racing!
  = simple_form_for @person, :url => {:controller => "register", :action => "create"}, :html => {:class => 'form-horizontal'}  do |f|
    = field_set_tag "Personal Info" do
      = f.input :first_name, :placeholder => 'Leeroy'
      = f.input :last_name, :placeholder => 'Jenkins'
      = f.input :email, :placeholder => 'ljenkins@example.com'
      = f.input :phone, :placeholder => '13125551212'
      = f.input :location, :placeholder => 'Chicago'
      = f.input :twitter, :placeholder => '@a_twitter_thing'
      = f.input :personal_url, :placeholder => 'http://www.example.com/'
      = f.input :photo_url, :placeholder => 'http://www.example.com/ur_face.jpg'
      = f.input :bio, :placeholder => 'Your life story or something short I guess'
    = f.submit 'Register'
