.banner
  = link_to image_tag("lw_race_banner.jpg"), "http://www.tinkernation.com/"
.carousel.slide{:id => "myCarousel"}
  .carousel-inner
    .item.active
      = image_tag "carosel_race_schedule-op.jpg"
      .container
        .carousel-caption
          %h1
            Race Host From
            %em Coast to Coast
          %p.lead
            See our calendar to find out if a PPPRS race is at a Maker Faire near you!
            %a.btn.btn-large.btn-primary.pull-right{:href => register_url} Register today
    .item
      = image_tag "carosel_education-op.jpg"
      .container
        .carousel-caption
          %h1
            Help inspire young
            %em engineers
          %p.lead
            Help support our mission to teach engineering in a fun yet competitive environment.
            %a.btn.btn-large.btn-primary.pull-right{:href => "#need-donate-link"} Donate today
    .item
      = image_tag "carosel_about_us-op.jpg"
      .container
        .carousel-caption
          %h1
            The world's
            %em only
            $500 sort-of legit electric car racing series
          %p.lead
            Learn how you can be a part of the madness
            %a.btn.btn-large.btn-primary.pull-right{:href => "#need-donate-link"} Donate today
    .item
      = image_tag "carosel_team-op.jpg"
      .container
        .carousel-caption
          %h1
            Get charged up for the
            %em 2013 Season
          %p.lead
            Submit a team and discover the value of electrical fires!
            %a.btn.btn-large.btn-primary.pull-right{:href => register_url} Sign Up
  %a.left.carousel-control{"href" => "#myCarousel", "data-slide" => "prev"} &lsaquo;
  %a.right.carousel-control{"href" => "#myCarousel", "data-slide" => "next"} &rsaquo;
.container.marketing
  .row-fluid
    .span6
      %h2 Why?
      %p
        We believe in the power of sharing knowledge, tools, and tech among inspired people of all ages and abilities. We believe that crowd sourced research and development will be the solution to some of the most difficult challenges our society faces today -- transportation, renewable energy, viable education for our technological world. Most of all, we believe that ordinary people, students, hackerspaces, and small start ups will lead us into the future. 
      %p 
        Through our innovative racing series, we make engineering entertaining and approachable. We work to advance technology education and encourage people to try something new.
    .span6
      %h2 What is it?
      %p
        We run an annual racing series in which small teams from all over the country strip down and build up kids' power wheels cars and race them on a specially designed track for hundreds of cheering fans. The challenge -- to create a working electric vehicle for less than $500 using open source tools and tech -- encourages progressive use of available technology and inspires our teams to help each other, even in the spirit of lighthearted competition. We believe these inventive creations will eventually inspire the street legal electric vehicles of our future.
      %p
        We are the Power Racing Series, and we want you to help us change the world.
  %hr
  .row-fluid
    .span12.sched
      %h2 The 2013 Race Schedule
      %p The 2013 Power Racing Series is upon us and here's the first official look at our upcoming race schedule.
  %hr
  .row-fluid
    .span4
      %h2 WEST DIVISION
      %h4 May 18-19 Bay Area @ San Mateo
      %p Special one-off exhibition race featuring all new teams from the West Coast in the biggest Maker Faire on the calendar. Special guest judge Jay Lamm from the 24 Hours of Lemons series will invent penalties for the teams on the spot.

    .span4
      %h2 MIDWEST DIVISION
      %h4 June 29-30 Kansas City @ Union Station
      %p First round of the series takes a trip to KC's gorgeous Union Station. Expect the track to be tight, slow corners followed by mid-length straits. The cars with the best handling will show great promise here.

      %h4 July 27-28 Detroit @ The Henry Ford Museum
      %p Our Landmark race returns yet again! The Detroit circuit is a bumpy high speed affair that will challenge driver skill more than anything else. The track usually features long sweeping corners that necessitate finesse and driver rhythm.

      %h4 September 14-15 Headwaters Park East - Lincoln Pavilion, Fort Wayne, IN
      %p
        Long straights and hairpin turns will make for some interesting racing at the inaugural Fort Wayne event.    Plus, put your car through something truly unique -  Fort Wayne's own obstacle drag race, check out 
        %a{:href => "http://makerfairefortwayne.com/racing-2"}http://makerfairefortwayne.com/racing-2
        for details.
    .span4
      %h2 EAST DIVISION
      %h3 FINAL ROUND
      %h3 Grand Finale
      %h4 Sept 21-22 New York, NY @ New York, NY
      %p Can we say New York, NY again? I think New York, NY we can!
