.banner
  = link_to image_tag("lw_race_banner.jpg"), "http://www.tinkernation.com/"
.carousel.slide{:id => "myCarousel"}
  .carousel-inner
    .item.active
      = image_tag "carosel_race_schedule-op.jpg"
      .container
        .carousel-caption
          %h1
            Race Host From
            %em Coast to Coast
          %p.lead
            See our calendar to find out if a PPPRS race is at a Maker Faire near you!
            %a.btn.btn-large.btn-primary.pull-right{:href => register_url} Register today
    .item
      = image_tag "carosel_education-op.jpg"
      .container
        .carousel-caption
          %h1
            Help inspire young
            %em engineers
          %p.lead
            Help support our mission to teach engineering in a fun yet competitive environment.
            %a.btn.btn-large.btn-primary.pull-right{:href => "#need-donate-link"} Donate today
    .item
      = image_tag "carosel_about_us-op.jpg"
      .container
        .carousel-caption
          %h1
            The world's
            %em only
            $500 sort-of legit electric car racing series
          %p.lead
            Learn how you can be a part of the madness
            %a.btn.btn-large.btn-primary.pull-right{:href => "#need-donate-link"} Donate today
    .item
      = image_tag "carosel_team-op.jpg"
      .container
        .carousel-caption
          %h1
            Get charged up for the
            %em 2014 Season
          %p.lead
            Submit a team and discover the value of electrical fires!
            %a.btn.btn-large.btn-primary.pull-right{:href => register_url} Sign Up
  %a.left.carousel-control{"href" => "#myCarousel", "data-slide" => "prev"} &lsaquo;
  %a.right.carousel-control{"href" => "#myCarousel", "data-slide" => "next"} &rsaquo;
.container.marketing
  .row-fluid
    .span6
      %h2 Why?
      %p
        We believe in the power of sharing knowledge, tools, and tech among inspired people of all ages and abilities. We believe that crowd sourced research and development will be the solution to some of the most difficult challenges our society faces today -- transportation, renewable energy, viable education for our technological world. Most of all, we believe that ordinary people, students, hackerspaces, and small start ups will lead us into the future. 
      %p 
        Through our innovative racing series, we make engineering entertaining and approachable. We work to advance technology education and encourage people to try something new.
    .span6
      %h2 What is it?
      %p
        We run an annual racing series in which small teams from all over the country strip down and build up kids' power wheels cars and race them on a specially designed track for hundreds of cheering fans. The challenge -- to create a working electric vehicle for less than $500 using open source tools and tech -- encourages progressive use of available technology and inspires our teams to help each other, even in the spirit of lighthearted competition. We believe these inventive creations will eventually inspire the street legal electric vehicles of our future.
      %p
        We are the Power Racing Series, and we want you to help us change the world.
  %hr
  .row-fluid
    .span12.sched
      %h2 The 2014 Race Schedule
      %p The 2014 Power Racing Series season is coming up quick! Here is the first look at the official race schedule.
  %hr
  .row-fluid
    .span4
      %h2 WEST DIVISION
      %h4 Maker Faire San Mateo, CA
      %p Saturday & Sunday May 17th & 18th, 2014

    .span4
      %h2 CENTRAL DIVISION
      %h4 Maker Faire Kansas City, KC
      %p Saturday & Sunday June 28th & 29th, 2014

      %h4 Maker Faire Detroit, Dearborn, MI
      %p Saturday & Sunday Date July 26th & 27th, 2014

      %h4 Maker Faire Fort Wayne, IN
      %p Saturday September 13th, 2014


    .span4
      %h2 EAST DIVISION
      %h4 Charlotte, NC
      %p Saturday June 7th, 2014

      %h4 NYC World Maker Faire, Queens, NY
      %p Saturday & Sunday September 20th & 21st, 2014
