#headerwrap
  .container
    .row.centered
      .col-lg-8.col-lg-offset-2
        %h1
          BUILD AND RACE AN
          %b Autonomous Car
        %p
          %a.btn.btn-large.btn-primary{:href => register_url} Register today

.container.w
  .row.centered
    .col-lg-4
      %i.fa.fa-book
      %h2 LEARN
      %p Engineering, technology, diversity, and above all imagination are at the core of what we represent. We believe that sharing open source knowledge, tools, and tech among inspired makers of all ages and abilities will unlock the solutions to some of the most difficult challenges we face today. The challenge of creating a working electric vehicle for under $500 encourages progressive use of available technology and inspires our teams to help each other, even in the spirit of competition. Above all else, we believe that anyone with the passion and drive to learn will help lead us into the future.
    .col-lg-4
      %i.fa.fa-wrench
      %h2 BUILD
      %p Never welded before? No problem. Not sure which one is the wrench and which one is the screwdriver? We can help you with that. Electronics a mysterious jumble of lights and sounds? Well, it’s time to learn what those lights and sounds do. This is a series made for the motivated beginner. After all, races are more fun when everyone gets to share in our collective fiery mistakes. Queue up your Youtube account with some how-to videos, grab some friends, find the tool kit, invite your niece who’s been playing with Goldie Blox since last summer, buy yourself a full-face helmet, and get to work!
    .col-lg-4
      %i.fa.fa-trophy
      %h2 COMPETE
      %p Start with $500 and a Power Wheel. (Or any electric kids’ ride on vehicle.) Get some new batteries. A new motor. Heck, some nice new tires. Tie LEDs to the hood. Sprinkle it with glitter. Maybe a feather for class. Haul it to one of our many races, the locations of which are detailed below. Put it on the track. Race it with other cars for glory and trophies. Laugh, cry, jump in the air, get sprayed with sparkling cider (I mean, this is an all-ages show), put out a fire or two. Have a literal blast. And do it all while learning, sharing tools and technology with your competitors, and pleasing a crowd full of cheering, adoring fans.

#dg
  .container.wb
    .row.centered
      %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "500", :src => "//player.vimeo.com/video/153205338", :title => "YouTube video player", :width => "100%"}
    .row.centered
      .col-lg-8.col-lg-offset-2
        %h1 2016 Race Schedule
        %p
          You can compete in as many or as few of the below races as you want, although a minimum of two races are encouraged for those in a championship hunt. Use the link at the top of the page to sign up your team and let us know which races you plan to attend.
    .row.centered
      .col-sm-3
        .pricing-option
          .pricing-top
            %span.pricing-edition West
          %ul
            %li
              %strong San Mateo, CA
              %br
              %em MAY 20-22
              %br
              = link_to "Maker Faire Bay Area", "http://makerfaire.com/"
            %li
              %strong Denver, CO
              %br
              %em SEPTEMBER 17
              %br
              %p World’s Most Affordable Autonomous Race
              = link_to "AVC Sparkfun 2016", "https://avc.sparkfun.com/"
      .col-sm-3
        .pricing-option
          .pricing-top
            %span.pricing-edition Central
          %ul
            %li
              %strong Kansas City, MO
              %br
              %em JUNE 25-26
              %br
              = link_to "Kansas City Maker Faire", "http://www.makerfairekc.com/"
            %li
              %strong Detroit, MI
              %br
              %em JULY 30-31
              %br
              = link_to "Maker Faire Detroit", "http://www.makerfairedetroit.com/"
            %li
              %strong Milwaukee, WI
              %br
              %em SEPTEMBER 24-25
              %br
              = link_to "Maker Faire Milwaukee", "https://makerfairemilwaukee.com/"
      .col-sm-3
        .pricing-option
          .pricing-top
            %span.pricing-edition East
          %ul
            %li
              %strong New York, NY
              %br
              %em OCTOBER 1-2
              %br
              = link_to "World Maker Faire New York", "http://makerfaire.com/"
      .col-sm-3
        .pricing-option
          .pricing-top
            %span.pricing-edition South
          %ul
            %li
              %strong Nashville, TN
              %br
              %em SEPTEMBER 17
              %br
              = link_to "Nashville Mini Maker Faire", "http://nashvillemakerfaire.com/"
            %li
              %strong Atlanta, GA
              %br
              %em OCTOBER 1-2
              %br
              = link_to "Maker Faire Atlanta", "http://makerfaireatl.com/"
            %li
              %strong Orlando, FL
              %br
              %em OCTOBER 22-23
              %br
              = link_to "Maker Faire Orlando", "http://www.makerfaireorlando.com/"
-#

  .carousel.slide{:id => "myCarousel"}
    .carousel-inner
      .item.active
        = image_tag "carosel_race_schedule-op.jpg", :class => "centered"
        .container
          .carousel-caption
            %h1
              Race Host From
              %em Coast to Coast
            %p.lead
              See our calendar to find out if a PPPRS race is at a Maker Faire near you!
              %a.btn.btn-large.btn-primary.pull-right{:href => register_url} Register today
      .item
        = image_tag "carosel_education-op.jpg", :class => "centered"
        .container
          .carousel-caption
            %h1
              Help inspire young
              %em engineers
            %p.lead
              Help support our mission to teach engineering in a fun yet competitive environment.
              %a.btn.btn-large.btn-primary.pull-right{:href => "#need-donate-link"} Donate today
      .item
        = image_tag "carosel_about_us-op.jpg", :class => "centered"
        .container
          .carousel-caption
            %h1
              The world's
              %em only
              $500 sort-of legit electric car racing series
            %p.lead
              Learn how you can be a part of the madness
              %a.btn.btn-large.btn-primary.pull-right{:href => "#need-donate-link"} Donate today
      .item
        = image_tag "carosel_team-op.jpg", :class => "centered"
        .container
          .carousel-caption
            %h1
              Get charged up for the
              %em 2014 Season
            %p.lead
              Submit a team and discover the value of electrical fires!
              %a.btn.btn-large.btn-primary.pull-right{:href => register_url} Sign Up
    %a.left.carousel-control{"href" => "#myCarousel", "data-slide" => "prev"} &lsaquo;
    %a.right.carousel-control{"href" => "#myCarousel", "data-slide" => "next"} &rsaquo;
